.item-image {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.pagination-container {
  text-align: center;
}

.pagination-container-top {
  margin-top: 50px;
}

.pagination-item {
  display: inline-block;
}

.table-action-container{
  vertical-align: middle;
}
